body {
  background-color: #f0ebd9ff;
  font-family: Garamond, serif;
  font-size: 16px;
  color: #0e0f00ff
  margin: 1em;
  padding: 1em;
}
h1 {
  font-size: 24px;
}

/* Layout */
.container-fluid {
  width: 100%;
}
